* {
    box-sizing: border-box;

  }

  body {
    background-image: url(p11.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #4e2b99;
  }
  
  body, .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 
  .container {
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
  }
  
  .timer {
    position: absolute;
    top: 4rem;
    font-size: 3rem;
    color: #0ea0da;
    font-weight: bold;
  }
  
  .quote-display {
    margin-bottom: 1.2rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    color: #eed00a;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .quote-input {
    background-color: transparent;
    border: 5px solid rgb(148, 4, 64);
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    font-weight: bold;
    color:rgb(6, 210, 247) ;
  }
  
  .quote-input:focus {
    border-color:rgb(148, 4, 64);
  }
  
  .correct {
    color: rgb(18, 231, 167);
  }
  
  .incorrect {
    color: rgb(167, 11, 11);
    text-decoration: underline;
  }